
html{
    font-size: 10px;
}
nav h1 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
/* a{
    text-decoration: none; 
    color: inherit; 

}   */
.board_wrap{

    width: 1000px;
    margin: 100px auto;
}

/*제목, 부제목 설정*/
.board_title{
    margin-bottom: 30px;

}
.board_title h1{
    font-size: 3rem;

}
.board_title p{
    margin-top: 5px;
    font-size: 1.4rem;
}

/*버튼 설정*/
.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}
.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}
.bt_wrap a.on{
    background-color: #000;
    color: #fff;
}
.bt_wrap a:nth-child(1){
    margin-left: 0;
}

/*리스트 블록 설정*/
.board_list{
    width: 100%;
    border-top: 2px solid #000;
}
.board_list > div{
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.board_list > div.top{
    border-bottom: 1px solid #999;
}
.board_list > div:last-child{
    border-bottom: 2px solid #000;
}
.board_list > div >div{
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
    font-size: 1.4rem;
}
.board_list > div.top > div{
    font-weight: 600;
}

/*공백 영역 설정*/
.board_list .id{
    width: 10%;
}
.board_list .email{
    width: 40%;
    text-align: center;
}
.board_list .top .email{
    text-align: center;
}
.board_list .name{
    width: 10%;
}
.board_list .password{
    width: 10%;
}
.board_list .delete{
    width: 10%;
}

/*페이지 설정*/
.board_page{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.board_page a{
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.board_page a.btn{
    padding-top: 7px;
    font-size: 1.2rem;
    letter-spacing: -3px;
}
.board_page a.num{
    padding-top: 6px;
    font-size: 1.4rem;
}
.board_page a.num.selected{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.board_page a.frist{
    border-left: 1px solid #ddd;
}
/* [출처] HTML, CSS - 게시판 화면 만들기|작성자 곽장두 */



* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}


body {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.container {
    width: 960px;
    margin : 0 auto;

}

nav {
    height: 80px;
    background-color: aliceblue;
    line-height: 80px;
    font-size:medium

}

.nav-logo{
    font-size: 30px;
    float: left; /* 왼쪽으로 넘김 layout 파트를 */
    margin: 0;
}

.nav-menu {
    float : right;
}

.nav-btn {
    list-style-type: none;
    margin: 0;
}

u1.nav-btn > li /* li 한번에 css 적용하기 */ {
    float : left;
    margin-left: 25px;
}

nav::after{
    content: "";
    display: block;
    clear:both;
}

li {
    list-style: none;
}
.login {
    width: 410px;
    position: absolute;
    left:50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
.login h2{
    font-size: 32px;
    border-bottom: 2px solid #111; text-align: center;

    color: #111;
}

.login li {
    padding: 0 0 12px;
}
.login li input {
    width : 90%;
    height: 46px;
    box-sizing: border-box;

}
.login li input::-webkit-input-placeholder{font-size:16px; color:#9fa19f;}

.btn{
    text-align: center;
}


/* 지훈오빠 css */