<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청춘 캠퍼스 - 질문 게시판</title>
    <link rel="stylesheet" href="/css/ask.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23040648f7.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="container">
            <h1 class="nav-logo"><a th:href="@{|/home/logind/${id}|}"><i class="fa-solid fa-school">청춘 캠퍼스</i></a></h1>
            <div class="nav-menu">
                <u1 class="nav-btn">
                    <li><a th:href="@{|/home/logind/${id}|}">홈</a></li>
                    <li>
                        <a th:href="@{|/MyPage/${id}|}" th:text="|[${member.getName()}] 님|"></a>
                    </li>
                </u1>
            </div>
        </div>
    </nav>

    <div class="board_wrap">
        <div class="board_title">
            <h1>질문 게시판</h1>
            <p>청춘 캠퍼스의 질문 게시판입니다. </p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">글 번호</div>
                    <div class="title">제목</div>
                    <div class="writer">작성자</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>
                <div>
                    <div class="num">3</div>
                    <div class="title">글 제목이 들어갑니다</div>
                    <div class="writer">홍길순</div>
                    <div class="date">2023-07-27</div>
                    <div class="count">32</div>
                </div>
                <div>
                    <div class="num">2</div>
                    <div class="title">글 제목이 들어갑니다</div>
                    <div class="writer">홍길동</div>
                    <div class="date">2023-06-01</div>
                    <div class="count">32</div>
                </div>
                <div>
                    <div class="num">1</div>
                    <div class="title">글 제목이 들어갑니다</div>
                    <div class="writer">홍길동</div>
                    <div class="date">2023-05-28</div>
                    <div class="count">1</div>
                </div>
            </div>
            <div class="board_page">
                <a href="#" class="btn frist"><<</a>
                <a href="#" class="btn prew"><</a>
                <a href="#" class="num selected">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="btn next">></a>
                <a href="#" class="btn last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="ask.html" class="popup">글쓰기</a>
                    <div id="popup" class="popup">글쓰기
                        <div class="popup-content">
                        <span class="close" id="closePopup">&times;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
