<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청춘 캠퍼스 - 회원 목록</title>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23040648f7.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <div class="container">
        <h1 class="nav-logo"><a href="index.html"><i class="fa-solid fa-school">청춘 캠퍼스</i></a></h1>
        <div class="nav-menu">
            <u1 class="nav-btn">
                <li><a href = "index.html" target = "_blank"
                       onclick = "location.href = 'first-page.html'"
                       th:onclick="|location.href='@{/home}'|"
                >홈</a></li>
            </u1>
        </div>
    </div>
</nav>

<div class="board_wrap">
    <div class="board_title">
        <h1>회원 관리</h1>
        <p> 회원 목록 </p>
    </div>
    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="id">ID</div>
                <div class="email">Email</div>
                <div class="name">이름</div>
                <div class="refer">조회</div>
                <div class="delete">삭제</div>
            </div>
            <div th:each="member : ${memberList}">
                <div class="id" th:text="${member.id}"></div>
                <div class="email" th:text="${member.email}"></div>
                <div class="name" th:text="${member.name}"></div>
                <div class="refer">
                    <a th:href="@{|/member/${member.id}|}">조회</a>
                </div>
                <div class="delete">
                    <a th:href="@{|/delete/warning|}">삭제</a>
                </div>
            </div>

        </div>
        <div class="board_page">
            <a href="#" class="btn frist"><<</a>
            <a href="#" class="btn prew"><</a>
            <a href="#" class="num selected">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="btn next">></a>
            <a href="#" class="btn last">>></a>
        </div>
<!--        <div class="bt_wrap">
            <a href="ask.html" class="popup">글쓰기</a>
            <div id="popup" class="popup">글쓰기
                <div class="popup-content">
                    <span class="close" id="closePopup">&times;</span>
                </div>
            </div>
        </div>-->
    </div>
</div>
</body>
</html>
