
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청춘 캠퍼스 - 강의 목록</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23040648f7.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <Div class = "container">
        <h1 class = "nav-logo"><a href = "./firstpage.html"><i class="fa-solid fa-school"></i>청춘 캠퍼스</i></a></h1>
        <div class = "nav-menu">
            <u1 class = "nav-btn">
                <li><a href = "first-page.html" target = "_blank"
                       onclick = "location.href = 'first-page.html'"
                       th:onclick="|location.href='@{/home}'|"
                >홈</a></li>

                <li><a href = "login.html" target = "_blank"
                       onclick = "location.href = 'login.html'"
                       th:onclick="|location.href='@{/login}'|"
                >로그인</a></li>

                <li><a href = "signup.html" target = "_blank"
                       onclick = "location.href = 'signup.html'"
                       th:onclick="|location.href='@{/signup}'|"
                >회원가입</a></li>
            </u1>
        </div>
    </Div>
</nav>

<section>
    <div class="hd">
        <div class="container">
            <h2 class="hd-title">누구나 쉽게 배우는</h2>
            <h3 class="hd-container">청춘 캠퍼스 강의</h3>
</section>
<div class="wrap">
    <section>
        <h1>강의 목록</h1>
        <span>배우고 싶은 서비스를 청춘 캠퍼스에서 마음껏 수강하세요</span>
        <br>
        <br>
        <!-- <div class = sty>
            <ul>
                <li class="vid1">
                    <a href="#">
                        <span class = "thumb">
                            <img src="./그림1.png" alt="">
                            <em>category</em>
                        </span>
                        <Strong>강의 제목</Strong>
                    </a>
                    <p></p>
                </li>
                <li class="vid2">
                    <a href="#">
                        <span class = "thumb">
                            <img src="./그림1.png" alt="">
                            <em>category</em>
                        </span>
                        <Strong>15분만에 배우는 카카오톡 강의</Strong>
                    </a>
                    <p></p>
                </li>
                <li class="vid3">
                    <a href="#">
                        <span class = "thumb">
                            <img src="./그림1.png" alt="">
                            <em>category</em>
                        </span>
                        <Strong>강의 제목</Strong>
                    </a>
                    <p></p>
                </li>
                <li class="vid4">
                    <a href="#">
                        <span class = "thumb">
                            <img src="./그림1.png" alt="">
                            <em>category</em>
                        </span>
                        <Strong>강의 제목</Strong>
                    </a>
                    <p></p>
                </li>
                <li class="vid5">
                    <a href="#">
                        <span class = "thumb">
                            <img src="./그림1.png" alt="">
                            <em>category</em>
                        </span>
                        <Strong>강의 제목</Strong>
                    </a>
                    <p></p>
                </li>

            </ul>
        </div> -->
</div>
</section>
<section class="secc">
    <div class="sec1">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <span class="category">[모바일]</span>
                </span>
            <br>
            <Strong>15분 만에 배우는 카카오톡 강의</Strong>
        </a>
    </div>
    <div class="sec2">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
    <div class="sec3">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
    <div class="sec4">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
</section>

<section class="secc2">
    <div class="sec1">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
    <div class="sec2">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
    <div class="sec3">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
    <div class="sec4">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="./그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
</section>



</body>
</html>