<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청춘 캠퍼스 - 강의 목록</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23040648f7.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <Div class = "container">
        <h1 class = "nav-logo"><a href = "./index.html"><i class="fa-solid fa-school"></i>청춘 캠퍼스</i></a></h1>
        <div class = "nav-menu">
            <u1 class = "nav-btn">
                <li><a th:href="@{|/home/logind/${id}|}">홈</a></li>
                <li>
                    <a th:href="@{|/MyPage/${id}|}" th:text="|[${member.getName()}] 님|"></a>
                </li>
            </u1>
        </div>
    </Div>
</nav>

<section>
    <div class="hd">
        <div class="container">
            <h2 class="hd-title">누구나 쉽게 배우는</h2>
            <h3 class="hd-container">청춘 캠퍼스 강의</h3>
</section>

<div class="wrap">
    <section class="wrapping">
        <h1>강의 목록</h1>
        <span>배우고 싶은 서비스를 청춘 캠퍼스에서 마음껏 수강하세요</span>
        <br>
        <br>
    </section>
</div>

<section class="secc">
    <div class="sec1">
        <a href="./mainclass.html">
                <span class="thumb">
                    <img class="img1" src="/css/kakaotalk.png" alt="">
                    <br>
                    <span class="category">[모바일]</span>
                </span>
            <br>
            <Strong>15분 만에 배우는 카카오톡 강의</Strong>
        </a>
    </div>
    <div class="sec2">
        <a href="./mainclass1.html">
                <span class="thumb">
                    <img class="img1" src="/css/toss.png" alt="">
                    <br>
                    <span class="category">[모바일]</span>
                </span>
            <br>
            <Strong>간단하게 배우는 온라인 뱅킹</Strong>
        </a>
    </div>
    <div class="sec3">
        <a href="./mainclass2.html">
                <span class="thumb">
                    <img class="img1" src="/css/kiosk.jpg" alt="">
                    <br>
                    <span class="category">[기타 서비스]</span>
                </span>
            <br>
            <Strong>복잡해보이지만 알고보면 간단한 <br> 키오스크 주문방법</Strong>
        </a>
    </div>
    <div class="sec4">
        <a href="./mainclass3.html">
                <span class="thumb">
                    <img class="img1" src="/css/naver.png" alt="">
                    <br>
                    <span class="category">[웹 서비스]</span>
                </span>
            <br>
            <Strong>네이버 쇼핑 이용법</Strong>
        </a>
    </div>
</section>

<section class="secc2">
    <div class="sec1">
        <a href="./mainclass4.html">
                <span class="thumb">
                    <img class="img1" src="/css/youtube.png" alt="">
                    <br>
                    <span class="category">[웹 서비스]</span>
                </span>
            <br>
            <Strong>유튜브에 나만의 영상 올리기</Strong>
        </a>
    </div>
    <div class="sec2">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="/css/그림1.png" alt="">
                    <br>
                    <span class="category">[모바일]</span>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
    <div class="sec3">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="/css/그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
    <div class="sec4">
        <a href="#">
                <span class="thumb">
                    <img class="img1" src="/css/그림1.png" alt="">
                    <br>
                    <em class="category">category</em>
                </span>
            <br>
            <Strong>강의 제목</Strong>
        </a>
    </div>
</section>


</body>
</html>