<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/signup.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청춘 캠퍼스 - 회원가입</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23040648f7.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <Div class = "container">
            <h1 class = "nav-logo">
                <a href = "index.html" target = "_blank"
                   th:onclick="|location.href='@{/home}'|">
                    <i class="fa-solid fa-school">
                    </i>청춘 캠퍼스</i>
                </a>
            </h1>
            <div class = "nav-menu">
                <u1 class = "nav-btn">
                    <li><a href = "index.html" target = "_blank"
                           onclick = "location.href = 'first-page.html'"
                           th:onclick="|location.href='@{/home}'|"
                    >홈</a></li>
                    <li><a href = "login.html" target = "_blank"
                           onclick = "location.href = 'login.html'"
                           th:onclick="|location.href='@{/login}'|"
                    >로그인</a></li>
                </u1>
            </div>
        </Div>
    </nav>
    <section class="login">
        <h2>회원가입</h2>
        <ul class = "no">
            <form action ="/signup" method = "post">
                <li><input type = "name" placeholder="이메일" title = "이메일" name = "email"></li>
                <li><input type = "name" placeholder="이름" title = "이름" name = "name"></li>
                <li><input type = "password" placeholder="비밀번호" title = "비밀번호 입력" name = "password"></li>
                <input type="submit" value="회원가입">
            </form>
        </ul>
        <div>
        </div>
    </section>


</body>
</html>